@import url(https://unpkg.com/css-peeps@1/css-peeps.css);

.css-peeps {
  --peep-head: pomp;
  --peep-face: smile;
  --peep-body: striped-pocket-tee;

  --peep-hat-color: #FC03C2;
  --peep-hair-color: #7300E6;
  --peep-skin-color: #ab7878;
  --peep-accessory-color: #00ff00;
  --peep-facial-hair-color: #ffd700;
  --peep-object-color: #ffa500;
  --peep-clothes-color: #ff0000;

  --peep-body-offset-x: 16px;
  --peep-body-offset-y: -11px;

  display: inline-block;
  width: 578px;
  height: 586px;
  background: white;
  border-radius: 10px;
  border: 2px solid var(--peep-accessory-color);
}